section.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #ffffff;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 30px;
}

button:hover {
    opacity: 0.9;
}

.filter {
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
}

.filter:first-child {
    border-right: 1px solid #DDDDDD;
}

.filter h3 {
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.filter h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

/* ul.popover {
    visibility: hidden;
    background-color: #FAFAFA;
    width: initial;
    border: #DDDDDD 1px solid;
    border-radius: 4px;
    margin-bottom: -218px;
    margin-left: -20px;
    padding: 20px;
}

.filter:hover > ul.popover {
    visibility: visible;
} */

ul.popover {
    display: none; /* Hide the popover by default */
    background-color: #FAFAFA;
    width: 89.5%;
    border: #DDDDDD 1px solid;
    border-radius: 4px;
    padding: 20px;
    position: absolute;
    top: 100%; /* Position the popover just below the parent */
    left: 0;
    margin-top: 0;
}

.filter {
    position: relative; /* Set position to relative */
}

.filter:hover > ul.popover {
    display: block; /* Show the popover when hovering over the filter */
}
ul.popover li {
    list-style: none;
}
ul li h2 {
    font-size: 16px;
}